<footer class="bg-[#22664e] text-white mt-16 py-20 border-t">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-sm ">
    <p class="mb-2">
      &copy; <%= new Date().getFullYear() %> EduWave. All rights reserved.
    </p>
    <div class="flex justify-center space-x-4">
      <a href="/" class="hover:text-blue-600 transition">Home</a>
      <a href="/about" class="hover:text-blue-600 transition">About</a>
      <a href="/courses" class="hover:text-blue-600 transition">Courses</a>
      <a href="/contact" class="hover:text-blue-600 transition">Contact</a>
    </div>
  </div>
</footer>
</body>
</html>